* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Import font  */
@font-face {
    font-family: redressed ;
    src: url(Redressed-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(Poppins-SemiBold.ttf);
}
@font-face {
    font-family:roedies;
    src: url(Rowdies-Regular.ttf);
}

/* navigation bar*/
.logo {
    font-family: roedies;
    font-size: 36px;
    font-weight: 100;  color: #003459;

}
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
     align-items: center;
    
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links li {
    list-style: none;
    padding: 5px;
}
.nav-links li a {
    position: relative;
    color: #003459;
    padding: 5px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-decoration: none;

}
 .nav-links li a::after {
    content: "";
    position: absolute;
    background-color: #003459;

    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s ease;
}

 .nav-links li a:hover::after {
     width: 100%;
 }
.nav-links li .cm1 {
     color: #003459;
     border: 1px solid #003459;
     padding: 6px 15px 10px 15px;
     background-color: transparent;
     border-radius: 20px;
    transition: 0.3s ease;

    }
.nav-links li .cm1:hover {
    background-color:#003459;
    color: white;
     
    }
  
.nav-links li .cm1:hover::after {
   width: 0;
     
}





/*responsive ipad*/

@media (max-width: 1100px) {
    
    .logo {
        font-size: 35px;
    }
    nav{
        justify-content: space-around;
        transition: 0.3s ease;
        overflow: hidden;
    }
    
    .nav-links {
        width: 32%;
        
    }
    .nav-links li a {
        font-size: 13px;
    }
    .nav-links li a::after {
        content: "";
        width: 0%;
    }
    
     .nav-links li a:hover::after {
         width: 0;
     }

 
    


}

/*responsive mobile menu*/


.bar-menu {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    height: 10vh;
    width: 50px;
    display: none;
}
.bar1 {
    width: 25px;
    height: 3px;
    background-color: #003459;
border-radius: 4px;
margin-bottom: 5px;
}
.bar2 {
    width: 18px;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 5px;

    background-color: #003459;
}
.bar3 {
    width: 22px;
    height: 3px;
border-radius: 5px;
    background-color: #003459;
}


/*for mobile responsive*/

@media (max-width: 420px) {
    .bodyAfter {
        height: 100%;
        overflow: hidden;
    }
    nav{
        justify-content: space-around;
        transition: 0.3s ease;
        overflow: hidden;
    }
    
    .nav-links {
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        height: 91VH;
        top: 9vh;
        right: 0;
        background-color:#003459;
        transform: translateX(100%);
        transition: 0.3s ease;
        
    }
    .bar-menu {
        display: flex;
        
    }
    .logo {
        font-size: 25px;
        transition: 0.3s ease;

    }
    .nav-links li {
        list-style: none;
        width: 100%;
        background-color: #003459;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        transform: translateY(-100px);
    
    }
    .nav-links li a {
        color: #ffffff;
        padding: 5px;
        font-family: poppins;
        letter-spacing: .5px;
        font-size: 28px;
    
    }
     .nav-links li a::after {
        content: "";
        width: 0%;
    }
    
     .nav-links li a:hover::after {
         width: 0;
     }
    .nav-links li .cm1 {
         color: white;
         padding: 0px;
         border-radius: 10px;
        transition: 0s ;
        }
    .nav-links li .cm1:hover {
         color: white;
         background-color: transparent;
        }
      
    .nav-links li .cm1:hover::after {
       width: 0;
         
    }

    /*for mobile javascript classes active*/
.afterlinks {
    transform: translateX(0%);
    }
    .backgn{
        background-color: #003459;
    }
    .logocolorchange{
        color: white;
        font-size: 31px;
    }
    
    
    .barcolorchange{
        background-color: white;
        transform: rotate(-45deg) translate(-5px,6.5px);
        transition: 0.2s ease;
        width: 30px;

    }
    .barcolorchangetwo{
        background-color: white;
        opacity: 0;

    }
    .barcolorchangeth{
        background-color: white;
        width: 30px;
        transition: 0.2s ease;
        transform: rotate(45deg) translate(-5px,-6px);

    }

    /* maindiv for mobile */

    .main-div {
        width: 100%;
        height: 33rem;
        display: flex;
        flex-direction: column;
        background-color:   white ;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(243, 243, 243);
        
    }
    .picturemain {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-image: url(8c.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.ih1 {
    color: #003459;
    font-size: 30px;
    font-family: poppins;
    font-weight: bolder;
}

.infop
{color: #003459be;
    font-family: poppins;
    font-size: 13px;
    max-width: 300px;text-align: center;
}
.lmore {
    color: white;
    background-color: #003459;
    font-family: poppins;
    border-radius: 20px;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 15px 10px 18px;
}
.infotexts {
    display: flex;
    flex-direction: column;
    min-height: 33%;
    justify-content: space-evenly;
    align-items: center;
}

/* recent works */

.main-recentdiv 
{
    width: 100%;
    height: 29rem;
    margin-top: 5%;
}
.topic {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.recent {
    color: #003459;
    font-family: poppins;
    font-size: 25px;
    padding-right: 60px;


}
.viewall {
    color: #003459;
    font-size: 13px;
    font-family: poppins;
    text-decoration: none;
}

.main-collection {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

/* single box of work */
.work-1 {
    width: 90%;
height: 75px;
background-color: rgb(243, 243, 243);
border-radius: 10px;
overflow: hidden;
display: flex;


}
.work-2 {
    width: 90%;
height: 75px;
background-color: rgb(243, 243, 243);
border-radius: 10px;
overflow: hidden;
display: flex;


}
.work-3 {
    width: 90%;
height: 75px;
background-color: rgb(243, 243, 243);
border-radius: 10px;
overflow: hidden;
display: flex;


}
.work-4 {
    width: 90%;
height: 75px;
background-color: rgb(243, 243, 243);
border-radius: 10px;
overflow: hidden;
display: flex;


}
.dates{
    width: 20%;
display: flex;
flex-direction: column;
justify-content: center;

align-items: center;
height: 100%;
background-color: #003459;

}
.month {
    color: white;
    font-family: poppins;
    font-size: 13px;
    letter-spacing: 1px;

}
.date{
    color: white;
    font-family: poppins;
    font-size: 20px;
    letter-spacing: 1px;
}
.year{
    color: white;
    font-family: poppins;
    font-size: 12px;
}
.topics {

    width: 80% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    
}
.topi {
    text-decoration: none;

    font-size: 16px;
    color: #003459;
    padding-left: 5%;
    font-family: poppins;
}
.genre {
    font-size: 13px;
    color: #003459;
    padding-left: 5%;
    font-family: poppins;
}

/* contact */

.contact-div {
    width: 100%;
    height: 37rem;
    margin-top: 3rem;
    
}
.cont {
    font-family: poppins;
    font-size: 25px;
    color: #003459;
    text-align: center;

}
.contact-list {
    width: 100%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
/* mail */
.maildiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11rem;
    justify-content: space-around;
}
.mail {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #003459;
    display: flex;
    justify-content: center;
    align-items: center;

}
#env1 {
    color: white;
    font-size: 40px;
}
.email1 {
    font-family: poppins;
    color: #003459;
    font-size: 15px;
}
/* phone */
.phonediv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11rem;
    justify-content: space-around;
}
.phoe {
    width: 90px;
    height:90px;
    border-radius: 50%;
    background-color: #003459;
    display: flex;
    justify-content: center;
    align-items: center;

}
#phonefa {
    color: white;
    font-size: 40px;
}
.phone1 {
    font-family: poppins;
    color: #003459;
    font-size: 15px;
}
/* linkedin */
.linkedindiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11rem;
    justify-content: space-around;
}
.linked {
    width: 90px;
    height:90px;
    border-radius: 50%;
    background-color: #003459;
    display: flex;
    justify-content: center;
    align-items: center;

}
#linkedinfa {
    color: white;
    font-size: 40px;
}
.linked1 {
    font-family: poppins;
    color: #003459;
    font-size: 15px;
}

/* banner */

.bannerlanding {
    width: 100%;
    height: 3rem;
    background-color: #003459;
    margin-top: 2rem;
}

.copyright {
    color: white;
    font-family: poppins;
    font-weight: light;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
   
}



   

    
